In [1]:
def f(x):
    return 5

print(f(f(f(10))))

5

In [2]:
def f():
    print('this is a function')
f()

this is a function

In [3]:
t = f()
print(t)

this is a function
None

In [4]:
type(f)

function

In [5]:
g = f

In [6]:
type(g)

function

In [7]:
g()

this is a function

In [8]:
def funny():
    print('funny fn')
    def funfun():
        print('fun'*5)
    return funfun()

var = funny()
print(var)

funny fn
funfunfunfunfun
None

In [10]:
def another_funny():
    print('another funny function fn')
    
    def funfunfun():
        print('fun'*5)
        
    return funfunfun

var = another_funny()
print(var)
type(var)

another funny function fn
<function another_funny.<locals>.funfunfun at 0x106a77268>

function

In [11]:
var()

funfunfunfunfun

In [12]:
def another_funny():
    print('another funny function fn')
    
    def funfunfun():
        print('fun'*5)
    
    a = 5
        
    return a
var = another_funny()
print(var)

another funny function fn
5

In [14]:
def funny2():
    def fun():
        return 5**3
    return 5*fun() + 6
funny2()

631

In [18]:
def myfunction():
    def funone():
        return 10
    return 7

myten = myfunction()
print(myten)
myten()

7

TypeError: 'int' object is not callable

In [19]:
def flipkart():
    print('flip'*2)
    
    product = 'colors'
    def cart():
        print('your cart has one product:', product)
    
    return cart

mycart = flipkart()
mycart()

flipflip
your cart has one product: colors

In [22]:
def generic_multiplier(x):
    def factor(b):
        return x*b
    return factor

three_x = generic_multiplier(3)
print(three_x(0))
print(three_x(1))
print(three_x(2))
print(three_x(3))

0
3
6
9

In [23]:
four_x = generic_multiplier(4)
print(four_x(0))
print(four_x(1))
print(four_x(2))
print(four_x(3))

0
4
8
12

In [24]:
def adder(a):
    def factor(b):
        return a+b
    return factor
add_one = adder(1)
add_five = adder(5)

In [25]:
add_one(34)

35

In [26]:
add_five(7348)

7353

In [31]:
def ugly():
    print('&'*10, end = '')
ugly()

&&&&&&&&&&

In [32]:
def prettify(func):
    
    def make_pretty():
        print('*'*12)
        print('*', end = '')
        func()
        print('*')
        print('*'*12)
    return make_pretty

In [33]:
pretty = prettify(ugly)
pretty()

************
*&&&&&&&&&&*
************

In [34]:
def ugly2():
    print('@'*10, end='')

In [35]:
pretty = prettify(ugly2)
pretty()

************
*@@@@@@@@@@*
************

In [36]:
@prettify
def ugly3():
    print('#'*10, end='')
ugly3()

************
*##########*
************

# Lists

In [37]:
mylist = []

In [38]:
type(mylist)

list

In [39]:
print(mylist)

[]

In [40]:
mylist = [1,2,3,3,4,5]

In [41]:
print(mylist)

[1, 2, 3, 3, 4, 5]

In [42]:
mylist = [1,2,3.3, 'hello']

In [43]:
print(mylist)

[1, 2, 3.3, 'hello']

In [44]:
mylist = [[1,2,3,4], [1,2]]

In [45]:
print(mylist)

[[1, 2, 3, 4], [1, 2]]

In [47]:
mylist[0][1]

2

In [49]:
len(mylist[0])

4

In [50]:
mylist[5]

IndexError: list index out of range

In [51]:
mylist = [1,2,3,4,4,5,5,5,6]

In [52]:
mylist[2:5]

[3, 4, 4]

In [53]:
mylist + ['hello']

[1, 2, 3, 4, 4, 5, 5, 5, 6, 'hello']

In [54]:
mylist + 'hello'

TypeError: can only concatenate list (not "str") to list

In [55]:
mylist + 2

TypeError: can only concatenate list (not "int") to list

In [56]:
mylist - ['hello']

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [57]:
mylist*2

[1, 2, 3, 4, 4, 5, 5, 5, 6, 1, 2, 3, 4, 4, 5, 5, 5, 6]

In [58]:
'hello'*2

'hellohello'

In [59]:
another_list= [4,5]
print(another_list)

[4, 5]

In [60]:
print(id(another_list))

4407383176

In [61]:
del another_list[1]

In [62]:
print(id(another_list))

4407383176

In [63]:
x = 100

In [64]:
del x

In [65]:
print(x)

NameError: name 'x' is not defined

In [66]:
for i in [1,2,3,45,55]:
    print(i)

1
2
3
45
55

In [67]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [68]:
def odd_even(n):
    if n%2 == 0:
        return 'Even'
    else:
        return 'Odd'

In [69]:
odd_even(3)

'Odd'

In [70]:
def odd_even_i(n):
    return n%2 == 0

In [72]:
odd_even_i(5)

False

In [73]:
def odd_even(n):
    return 'Even' if n%2 == 0 else 'Odd'

In [74]:
odd_even(3)

'Odd'

In [75]:
def print_till_n(n):
    for i in range(1,n+1):
        print(i)
    for i in range(n, 0, -1):
        print(i)

In [77]:
print_till_n(10)

1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1

In [82]:
def print_odd_even(n):
    print('Odd:')
    for i in range(1,n,2):
        print(i)
    print('Even:')
    for i in range(0,n,2):
        print(i)

In [83]:
print_odd_even(10)

Odd:
1
3
5
7
9
Even:
0
2
4
6
8

In [84]:
def print_odd_even(n):
    for i in range(n):
        if odd_even_i(i):
            print('Even:', i)
        else:
            print('Odd:',i)

In [85]:
print_odd_even(10)

Even: 0
Odd: 1
Even: 2
Odd: 3
Even: 4
Odd: 5
Even: 6
Odd: 7
Even: 8
Odd: 9

In [86]:
def number_of_digits(n):
    counter = 0
    while n:
        counter += 1
        n = n//10
    return counter

In [87]:
number_of_digits(1234)

4

In [88]:
def number_of_digits(n):
    return len(str(n))

In [89]:
number_of_digits(123)

3

In [91]:
def isPrime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n%i ==0:
            return False
    else:
        return True

In [94]:
isPrime(21)

False

In [96]:
def mult1_3or5(n):
    sum1 = 0
    for i in range(n):
        if i%3 == 0 or i%5 ==0:
            sum1+=i
    return sum1

In [98]:
def sum_or_product(n, act):
    if act == 'sum':
        return n*(n+1)/2
    elif act == 'product':
        return factorial(n)
    else:
        print('wrong input.')
    
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
        
    return fact

sum_or_product(5, 'product')

120