# Lists

In [1]:
mylist = [1,3,4,5,6,4]

In [2]:
mylist[0]

1

In [4]:
mylist[len(mylist) -1]

4

In [5]:
mylist[1:243]

[3, 4, 5, 6, 4]

In [6]:
for i in mylist:
    print(i)

1
3
4
5
6
4

# List methods

In [7]:
my_list = [1,2,3,4,5]

In [8]:
my_list.append('jello')

In [9]:
print(my_list)

[1, 2, 3, 4, 5, 'jello']

In [10]:
my_list.insert(2, 'python')

In [12]:
print(my_list)

[1, 2, 'python', 3, 4, 5, 'jello']

In [13]:
my_list.insert(len(my_list), 'wow')

In [14]:
print(my_list)

[1, 2, 'python', 3, 4, 5, 'jello', 'wow']

In [15]:
my_list.pop()

'wow'

In [16]:
my_list.pop(2)

'python'

In [17]:
my_list.clear()

In [18]:
print(my_list)

[]

In [19]:
my_list = [1,2,3,4,5,'hello', 'jell', 3.3]

In [20]:
my_list.index('jell')

6

In [21]:
my_list.index('jfks')

ValueError: 'jfks' is not in list

In [28]:
my_list = [1,4,3,43,2,4,2,3,3,42,4]

In [23]:
my_list.count(4)

4

In [24]:
my_list.count(78)

0

In [29]:
my_list.index(4,3,8)

5

In [30]:
my_list = [-1,2,-34,34,22,2]

In [31]:
my_list.sort()

In [32]:
print(my_list)

[-34, -1, 2, 2, 22, 34]

In [33]:
my_list.sort(reverse=True)

In [34]:
print(my_list)

[34, 22, 2, 2, -1, -34]

In [35]:
another_one = my_list.copy()

In [36]:
print(another_one)

[34, 22, 2, 2, -1, -34]

In [39]:
[2,3,4] == [2,3,4]

True

# Stacks

In [40]:
#Push operation
stack = []
stack.append(5)
print(stack)
stack.append(10)
print(stack)
stack.append(20)
print(stack)
stack.append(30)
print(stack)
stack.append(40)
print(stack)


#Pop operation
stack.pop()
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)

[5]
[5, 10]
[5, 10, 20]
[5, 10, 20, 30]
[5, 10, 20, 30, 40]
[5, 10, 20, 30]
[5, 10, 20]
[5, 10]
[5]

# Tuple

In [42]:
mytuple = 'python',13,144,2.3

In [43]:
type(mytuple)

tuple

In [44]:
print(mytuple)

('python', 13, 144, 2.3)

In [45]:
empty_tuple = ()

In [46]:
type(empty_tuple)

tuple

In [47]:
print(empty_tuple)

()

In [48]:
one_element_tuple = 45,

In [49]:
print(one_element_tuple)

(45,)

In [50]:
some_tuple = mytuple , (1,2,3,44)

In [51]:
print(some_tuple)

(('python', 13, 144, 2.3), (1, 2, 3, 44))

In [52]:
pack = 12,3,4,'hello',3.2

In [53]:
print(pack)

(12, 3, 4, 'hello', 3.2)

In [57]:
x,y,z,a,b = pack

In [58]:
print(x)
print(y)
print(z)
print(a)
print(b)

12
3
4
hello
3.2

In [59]:
for i in (1,23,4,'hello'):
    print(i)

1
23
4
hello

In [60]:
mytuple[0]

'python'

In [63]:
def func(x, y, *arg):
    print(x,y, arg)

In [65]:
func(2,3,4,5,6,6,7,3,90)

2 3 (4, 5, 6, 6, 7, 3, 90)

In [66]:
func(2,3)

2 3 ()

In [ ]:
def take_input_in_list():
    temp = []
    for i in range(n):
        temp.append(int(input('Enter a number')))
    while True:
        t = input('Enter a number')
        if t == 'stop':
            break
        
        temp.append(int(t))
    return temp

In [67]:
def f():
    a = 5
    b = 'hello'
    return a,b

In [68]:
x, y = f()

In [69]:
print(x, y)

5 hello

In [70]:
some_list = []
for x in [1,2,3]:
    for y in [4,2,1]:
        if x!=y:
            some_list.append((x,y))
print(some_list)

[(1, 4), (1, 2), (2, 4), (2, 1), (3, 4), (3, 2), (3, 1)]

In [71]:
[(x,y) for x in [1,2,3] for y in [4,2,1] if x!=y]

[(1, 4), (1, 2), (2, 4), (2, 1), (3, 4), (3, 2), (3, 1)]

In [72]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
[[x,y] for x in [1,2,3] for y in ['a', 'b', 'c']]

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c']]

In [74]:
def length_of_string(mystring):
    l = 0
    for i in mystring:
        l+=1
    return l

In [75]:
length_of_string('hello')

5

In [76]:
def length_of_string_2(mystr):
    counter = 0
    while mystr:
        counter += 1
        mystr = mystr[1:]
    return counter

In [77]:
length_of_string_2('hello')

5

In [78]:
def print_even_index_chars(mystr):
    for i in range(0, len(mystr), 2):
        print(mystr[i])

In [79]:
def remove_till_n(newstr, n):
    return newstr[n:]

In [80]:
def is_pall(newstr):
    left = 0
    right = len(newstr) - 1
    while right >= left:
        if not newstr[left] == newstr[right]:
            return False
        left += 1
        right -= 1
    return True

In [81]:
def reversed_string(newstr):
    temp = ''
    for i in range(len(newstr)-1,-1,-1):
        temp = temp + newstr[i]
    return temp

In [82]:
reversed_string('hello')

'olleh'

In [84]:
def reversed_string2(newstr):
    temp = ''
    for i in newstr:
        temp =  i + temp
    return temp

In [85]:
reversed_string2('hello')

'olleh'

In [86]:
def reversed_string3(newstr):
    return newstr[::-1]

In [87]:
reversed_string3('hello')

'olleh'

In [88]:
def is_pall2(newstr):
    return newstr == newstr[::-1]

In [92]:
is_pall2('12321')

True