# Sets

In [1]:
myset = set()

In [2]:
type(myset)

set

In [3]:
print(myset)

set()

In [4]:
fruits = {'apple', 'orange', 'apple', 'pear', 'banana'}

In [5]:
type(fruits)

set

In [6]:
print(fruits)

{'banana', 'apple', 'pear', 'orange'}

In [7]:
unique = set('fjdklsjfksdklgj')

In [9]:
print(unique)

{'g', 'f', 'j', 'l', 's', 'k', 'd'}

In [10]:
'orange' in fruits

True

In [11]:
'kiwi' in fruits

False

In [12]:
alpha = set('hellobello')
beta = set('pythonkython')

In [13]:
print(alpha)
print(beta)

{'l', 'b', 'o', 'h', 'e'}
{'p', 'n', 'y', 'o', 'h', 't', 'k'}

In [14]:
alpha - beta

{'b', 'e', 'l'}

In [15]:
alpha | beta

{'b', 'e', 'h', 'k', 'l', 'n', 'o', 'p', 't', 'y'}

In [16]:
alpha & beta

{'h', 'o'}

In [17]:
alpha ^ beta

{'b', 'e', 'k', 'l', 'n', 'p', 't', 'y'}

In [18]:
gama = {1,2,3,4,5,6}
eta = {2,3,'hello','python'}

In [20]:
print(gama, eta, sep='\n')

{1, 2, 3, 4, 5, 6}
{2, 3, 'hello', 'python'}

In [21]:
gama.add(10)

In [22]:
print(gama)

{1, 2, 3, 4, 5, 6, 10}

In [23]:
gama.add(10)

In [24]:
print(gama)

{1, 2, 3, 4, 5, 6, 10}

In [25]:
gama.difference(eta)

{1, 4, 5, 6, 10}

In [26]:
gama.intersection(eta)

{2, 3}

In [27]:
gama.discard(4)

In [28]:
print(gama)

{1, 2, 3, 5, 6, 10}

In [29]:
gama.union(eta)

{1, 10, 2, 3, 5, 6, 'hello', 'python'}

In [30]:
gama.isdisjoint(eta)

False

In [31]:
gama.issubset(eta)

False

In [32]:
gama.issuperset(eta)

False

# Sequences

In [33]:
45 in [1,2,3,4,5,45]

True

In [34]:
5 in range(1,10)

True

In [35]:
5 not in range(1,10)

False

In [36]:
'5' in '23514'

True

In [37]:
[2,3,4,5] + [45]

[2, 3, 4, 5, 45]

In [38]:
'hello' + 'python'

'hellopython'

In [39]:
range(0,5) + range(5,10)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [40]:
(1,2,3) + ('hello',)

(1, 2, 3, 'hello')

In [41]:
mylist = [2,3,4,5]
mystring = 'hello python'
myrange = range(5)
mytuple = (2,3,4,5)

In [42]:
mylist[2]

4

In [43]:
mystring[2]

'l'

In [44]:
myrange[3]

3

In [45]:
mytuple[2]

4

In [46]:
mystring[1:3]

'el'

In [47]:
myrange[2:3]

range(2, 3)

In [48]:
len(myrange)

5

In [49]:
len(mytuple)

4

In [50]:
myrange.index(3)

3

In [51]:
mytuple.index(2)

0

In [52]:
min(myrange)

0

In [53]:
max(myrange)

4

In [54]:
min(mytuple)

2

In [55]:
max(mytuple)

5

In [56]:
min(mystring)

' '

In [57]:
max(mystring)

'y'

In [58]:
min(mylist)

2

In [59]:
myrange.count(2)

1

In [60]:
mytuple.count(3)

1

In [61]:
mystring.count('2')

0

# lambda functions

In [65]:
# Don't use lambda functions like this.
t = lambda x: x**2

In [63]:
type(t)

function

In [64]:
t(4)

16

In [66]:
list(map(lambda x:x**2 , [1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

In [67]:
list(filter(lambda x:x>0 , [1,-2,3,-51,6,-10]))

[1, 3, 6]

In [69]:
lambda x:x>0

In [68]:
def greater(x):
    return x>0

# Dictionary

In [70]:
mydictionary = {}

In [72]:
print(mydictionary)

{}

In [73]:
type(mydictionary)

dict

In [74]:
mydictionary = {'apples': 4, 'orange':14}

In [75]:
print(mydictionary)

{'apples': 4, 'orange': 14}

In [76]:
type(mydictionary)

dict

In [77]:
mydictionary.get('apples')

4

In [78]:
mydictionary.get('fkdsjf')

In [79]:
'apples' in mydictionary

True

In [80]:
mydictionary.popitem()

('orange', 14)

In [81]:
mydictionary.values()

dict_values([4])

In [82]:
mydictionary.items()

dict_items([('apples', 4)])

In [83]:
mydictionary.keys()

dict_keys(['apples'])

In [84]:
dict([('jack' , 4) , ('jill', 10), ('key', 193)])

{'jack': 4, 'jill': 10, 'key': 193}

In [86]:
for key in mydictionary:
    print(key, mydictionary[key])

apples 4

In [87]:
empty_dicitonary = {}
empty_dicitonary['key'] = 3
print(empty_dicitonary)

{'key': 3}

In [88]:
'hello python wow'.split()

['hello', 'python', 'wow']

In [89]:
'hello python wow'.split('p')

['hello ', 'ython wow']

In [91]:
'--'.join(['hello', 'python', 'wow'])

'hello--python--wow'

In [97]:
def format_date(oldDate):
    months = {'Jan':1, 'Feb':2, 'Dec':12}
    alist = oldDate.split('-')
    year = int(alist[2])
    month = months[alist[1]]
    date = int(alist[0])
    return year,month,date

In [98]:
format_date('9-Dec-90')

(90, 12, 9)

In [99]:
def myfun(alpha , *args, **kwargs):
    print(alpha, 'Positional')
    for arg in args:
        print(arg)
    print('-'*40)
    for kw in kwargs:
        print(kw, kwargs[kw])

In [100]:
myfun('gecko', 'hello this is py', 'O hooo', beta = 5, gama = 'python', zeta  = 3.41)

gecko Positional
hello this is py
O hooo
----------------------------------------
beta 5
gama python
zeta 3.41

# Looping Techniques

In [102]:
for i in ['hello','python', 'snake']:
    print(i)

hello
python
snake

In [104]:
mylist = ['hello','python', 'snake']
for i in range(len(mylist)):
    print(i, mylist[i])

0 hello
1 python
2 snake

In [105]:
for index, value in enumerate(mylist):
    print(index, value)

0 hello
1 python
2 snake

In [106]:
for i in range(len(mylist)-1, -1, -1):
    print(mylist[i])

snake
python
hello

In [107]:
print(mylist)

['hello', 'python', 'snake']

In [108]:
for i in reversed(mylist):
    print(i)

snake
python
hello

In [110]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [111]:
for key in mydictionary:
    print(key, mydictionary[key])

apples 4

In [112]:
for key, value in mydictionary.items():
    print(key, value)

apples 4

In [113]:
basket = ['apples', 'orange', 'apples', 'orange', 'banana']

In [116]:
for i in reversed(sorted(set(basket))):
    print(i)

orange
banana
apples

# OOP